<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Microblog</title>
  </head>
  <body background="http://wallgans.com/wp-content/uploads/2015/02/pink-feather-twitter-background-abstract-images-sexy-background.jpg">
    <h1> <center> My Microblog  </center></h1>
    <h3> <center> Create new post </center></h3>
    <form class="input_form" method="post">
    <div><center><input type="textarea" name="title" placeholder='Enter the title...'></center>></div>
    <div><center><input type="textarea" name="content" placeholder='Enter your thoughts...'></center></div>
    <br>
    <div><a href="/"><button class='submit' style='margin-left:720px'> Post it :) </button></a></div>
  </form>
  </body>
</html>