<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Microblog</title>
  </head>
  <body background="http://wallgans.com/wp-content/uploads/2015/02/pink-feather-twitter-background-abstract-images-sexy-background.jpg">
    <h1> <center> My Microblog  </center></h1>
      <h3><center><%= post[:title] %></center></h3>
      <h5><center><%= post[:timestamp] %></center></h5>
      <div><center><%= post[:content] %></center></div>
  </body>
</html>